#container {
    width: 200px;
    margin: auto;
}
.block1 {
    background-color: yellow;
    border: 3px solid green;
}
.block2 {
    background-color: antiquewhite;
    border: 3px solid mediumvioletred;

}
.inline1 {
    background-color: orange;
    border: 3px solid black;
}
.inline2 {
    background-color: aqua;
    border: 3px solid purple;
}